force-app/main/default/flows/CustomDiscountNoti.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendNoti</name>
        <label>SendNoti</label>
        <locationX>792</locationX>
        <locationY>657</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0MLIR00000000EO4AY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>할인 알림</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>할인율 10% 또는 할인금액 30만원 이상입니다.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>RecipientsCol</name>
        <label>RecipientsCol</label>
        <locationX>767</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomNotiLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomNotiLoop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CustomDiscountNoti {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CustomDiscountNoti</label>
    <loops>
        <name>CustomNotiLoop</name>
        <label>CustomNotiLoop</label>
        <locationX>685</locationX>
        <locationY>550</locationY>
        <collectionReference>GetRoleId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecipientsCol</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendNoti</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomNoti</name>
        <label>GetCustomNoti</label>
        <locationX>580</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRoleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0MLIR00000000EO4AY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRoleId</name>
        <label>GetRoleId</label>
        <locationX>477</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomNotiLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00EIR000001sMGV2A2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetCustomNoti</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DiscountPrice__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>300000.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DiscountPercent__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <object>OrderHistory__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
